<html>
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}"/>
</head>

<body>
    <h1>international music finder</h1>
    <p>Find music you'll like from around the world based on your last.fm profile or chosen genres.</p>

    <form onsubmit="showText()" action="/" method="post">
        <label for="user">last.fm username:</label>
        <input type="text" name="user" value="{{user}}">
        <label for="country">country:</label>
        <select name="country">
            {% for country in countries %}
                {% if country[1] == selected %}
                    <option value="{{country[1]}}" selected>{{country[0]}}</option>
                {% else %} 
                    <option value="{{country[1]}}">{{country[0]}}</option>
                {% endif %} {% endfor %}
                
        </select>
        <br>
        <input type="submit" value="Load">
    </form>

    <script>
        function showText(){
            var el = document.getElementById("Loading");
            el.style.display = "block"; }
    </script>

    <p id="Loading" style="display: none">Loading your results. This could take over 30 seconds.<br>Not getting the results you want? Results are gathered from <a href="https://musicbrainz.org/" target="_blank">Musicbrainz's</a> user-sourced data, you should try contributing there!</p>
    <p id="Error">{{error}}</p>

    {% if found %}
    <div class="container">
        {% for url in urls %}
            <iframe style="border-radius:12px" src="{{url}}" width="95%" height="80px" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        {% endfor %}
    </div>
    {% endif %}

</body>
</html>