body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: rgb(18, 18, 18);
    margin: 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

form {
    padding-top: 2vh;
}

input,select {
    padding: 0.5rem 0.8rem;
	margin: 0.4rem 0;
    width: 25em;
    text-overflow: ellipsis;
	box-sizing: border-box;
	background: #353535;
	color: white;
	border: 1px solid rgb(114, 114, 114);
    border-radius: 2em;
}

input[type="submit"] {
    width: fit-content;
}

label {
    display: block;
    justify-content: left;
	align-items: left;
	text-align: left;
}

.container {
    display: inline-grid;
    grid-template-columns: auto auto;
    background-color: #353535;
    border-radius: 12px;
    border: 1px solid rgb(114, 114, 114);
}

#loading {
    font-size: 0.8rem;
    color: rgb(114, 114, 114);
}

iframe {
    padding: 10px 10px 10px 10px;
}

.tab button {
    padding: 0.5rem 0.8rem;
	margin: 0.4rem 0;
    text-overflow: ellipsis;
	box-sizing: border-box;
	background: #353535;
	color: rgb(114, 114, 114);
	border: 1px solid rgb(114, 114, 114);
    border-radius: 2em;
}

.tab button:hover {
    border-color: rgb(255, 255, 255);
}

.tab button.active {
    color: white;
}